body {
    font-family: Arial, sans-serif;
    background-color: #f6e2b8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: #422812;
    padding: 20px;
    text-align: center;
}

header img {
    width: 200px;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
}

th, td {
    border: 1px solid #422812;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #422812;
    color: #f6e2b8;
}

tr:nth-child(even) {
    background-color: #c5a364;
}

tr:nth-child(odd) {
    background-color: #e0d0a0;
    color: #422812;
}

button {
    background-color: #422812;
    color: #f6e2b8;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: black;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}
