<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBook</title>
    <link rel="stylesheet" href="../static/css/addRoom.css"><!-- Link to your external CSS file -->
</head>
<body>
<header>
    <a href="index.html"><img src="../static/img/Quickbook_logo.png" alt="QuickBook Logo"/></a>
    <h1>Add New Room to QuickBook</h1>
</header>

<main>
    <form id="roomForm">

        <label for="roomNumber">Room Number</label>
        <input type="number" id="roomNumber" name="roomNumber" required><br>

        <label for="numberOfBeds">Number of Beds</label>
        <input type="number" id="numberOfBeds" name="numberOfBeds" required><br>

        <label for="floor">Floor</label>
        <input type="number" id="floor" name="floor" required><br>

        <label for="roomType">Room Type</label>
        <select id="roomType" name="roomType" required>
            <option value="STANDARD">Standard</option>
            <option value="SINGLE">Single</option>
            <option value="DOUBLE">Double</option>
            <option value="SUITE">Suite</option>
            <option value="DELUXE">Deluxe</option>
            <option value="FAMILIE">Family</option>
            <option value="HAVUDSIGT">Ocean View</option>
            <option value="BALKON">Balcony</option>
            <option value="STUDIO">Studio</option>
            <option value="EXECUTIVE">Executive</option>
            <option value="PENTHOUSE">Penthouse</option>
            <option value="HANDICAPVENLIGT">Accessible</option>
        </select><br>

        <label for="pricePerNight">Price Per Night</label>
        <input type="number" id="pricePerNight" name="pricePerNight" required><br>

        <input type="submit" id="addRoom" value="Add Room">
        <button type="button" id="finishAdding">Add Room and Finish</button>

    </form>
</main>

<script src="../static/js/addRoom.js"></script> <!-- Link to your external JavaScript file -->
</body>
</html>
