<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Details</title>

  <link rel="stylesheet" href="../static/css/findHotel.css"><!-- Link to your external CSS file -->
</head>
<body>
<header>
  <a href="index.html"><img src="../static/img/Quickbook_logo.png" alt="QuickBook Logo"/></a>
  <h1>Welcome to QuickBook</h1>
</header>

<nav>
  <ul>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>

<main>
  <div class="hotel-details-container">
    <h2>Find Hotel Details</h2>
    <form>
      <label for="hotelId">Hotel ID:</label>
      <input type="text" id="hotelId" name="hotelId" required><br>

      <input type="submit" value="Find Hotel">
    </form>
  </div>
</main>

<div id="hotelModal" style="display:none;">
  <div>
    <h2>Hotel Details</h2>
    <p>Name: <span id="hotelName"></span></p>
    <p>Street: <span id="street"></span></p>
    <p>City: <span id="city"></span></p>
    <p>Country: <span id="country"></span></p>
    <p>ZIP: <span id="zip"></span></p>
    <p>Rooms: <span id="rooms"></span></p>
    <button onclick="closeModal()">Close</button>
  </div>
</div>

<script src="../static/js/findHotel.js"></script> <!-- Link to your external JavaScript file -->
</body>
</html>
