<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBook</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<header>
    <a href="index.html"><img src="../static/img/Quickbook_logo.png" alt="QuickBook Logo"/></a>

    <h1>Welcome to QuickBook</h1>
</header>

<nav>
    <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>

<main>

    <div class="button-container">
        <button class="button" onclick="location.href='viewAll.html'">View All Hotels</button>
        <button class="button" onclick="location.href='findHotel.html'">Search Hotel</button>
        <button class="button" onclick="location.href='updateHotel.html'">Edit Hotel</button>
        <button class="button" onclick="location.href='delete.html'">Delete Hotel</button>
        <button class="button" onclick="location.href='addHotel.html'">Add Hotel</button>


    </div>

</main>


</body>
</html>
