<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBook</title>
    <link rel="stylesheet" href="../static/css/updateHotel.ss.css"><!-- Link to your external CSS file -->
</head>
<body>
<header>
    <a href="index.html"><img src="../static/img/Quickbook_logo.png" alt="QuickBook Logo"></a>
    <h1>Edit Hotel Information</h1>
</header>

<main>
    <form id="editHotelForm">
        <label for="searchOption">Search Option:</label>
        <select id="searchOption" name="searchOption">
            <option value="hotelName">Hotel Name</option>
            <option value="hotelId">Hotel ID</option>
        </select><br>

        <label for="searchTerm">Enter Search Term:</label>
        <input type="text" id="searchTerm" name="searchTerm" required><br>

        <label for="hotelName">Hotel Name:</label>
        <input type="text" id="hotelName" name="hotelName" required><br>

        <label for="street">Street:</label>
        <input type="text" id="street" name="street" required><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br>

        <label for="zip">ZIP Code:</label>
        <input type="number" id="zip" name="zip" required><br>

        <label for="buildingNumber">Building Number:</label>
        <input type="number" id="buildingNumber" name="buildingNumber" required><br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required><br>

        <input type="submit" value="Update Hotel">
    </form>
</main>

<script src="../static/js/updateHotel.js"></script><!-- Link to your external JavaScript file -->
</body>
</html>
