<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuickBook Hotel Viewer</title>
  <link rel="stylesheet" href="../static/css/viewAll.css"><!-- Link to your external CSS file -->
</head>
<body>
<header>
  <a href="index.html"><img src="../static/img/Quickbook_logo.png" alt="QuickBook Logo"></a>
  <h1>Hotel Viewing - All Hotel Listed</h1>
</header>

<div class="button-container">
  <button id="prevButton">Tilbage</button>
  <button id="nextButton">Frem</button>
</div>
<main>
  <table id="hotelTable">
    <thead>
    <tr>
      <th>ID</th>
      <th>Hotel Name</th>
      <th>Street</th>
      <th>City</th>
      <th>Zip Code</th>
      <th>Building Number</th>
      <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <!-- Data from the backend will be inserted here using JavaScript -->
    </tbody>
  </table>
</main>



<script src="../static/js/viewAll.js"></script><!-- Link to your external JavaScript file -->
</body>
</html>
